#para
{
    background-color: black;
    color: aliceblue;
    font-size: 35px;
}
.para
{
    color: brown;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}